body{
	
	color:#999;
	background-image:url(../images/apple-blank-business-computer-442574.jpg);
	font-family:arial,gerarda,sans-serif;
	background-size:cover;
	
}

.container{
	margin-top:10px;
}




